.residentGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin-bottom: 16px;
  }
  
  .residentGridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .residentGridItem img {
    max-width: 100%;
    height: auto;
  }
  